*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, 'San Francisco', -apple-system, BlinkMacSystemFont,
    '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  color: #222;
  font-size: 16px;
  background-color: #fff;

  padding: 0;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #666ee8;
  text-decoration: none;
  -webkit-user-select: text;
  transition: all .2s ease-out;
}

a:hover {

  text-decoration: underline;
  cursor: pointer;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #d9dde1;
}

p {
  -webkit-user-select: text;
  cursor: auto;
}

.active {
  color: #000 !important;
  font-weight: 800;
}

.full-width {
  width: 100%;
}

/* div {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 0;
  align-items: stretch;
} */

code,
pre {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  margin: 0 !important;
}

.nav-link {
  color: #222;
}

svg {
  vertical-align: center;
  fill: inherit;
}

pre {
  padding: 0.75rem;
  font-size: 13px !important;
}